$color-text: #15171A;
$color-grey: #737780;
$color-grey-light:#F1F3F2;
$color-blue: #007EDB;
$color-blue-light: rgba(0, 126, 219, 0.08);



$tablet: 550px;
$tablet-xl: 700px;
$laptop: 950px;
$laptop-xl: 1024px;
$laptop-hd: 2039px;
