@import "./constants.scss";
@import "./mixins.scss";
@import "./fonts.scss";

html {
    font-size: 20px;
    margin:0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;;
    color: $color-text;
    margin:0;
}