
$laptop-hd: 2039px;
$laptop-md: 1280px;
$tablet: 1023px;
$mobile-lg: 767px;
$mobile-md: 480px;
$mobile-sm: 375px;

@mixin laptop-md {
  @media only screen and (max-width: #{$laptop-md}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile-lg {
  @media only screen and (max-width: #{$mobile-lg}) {
    @content;
  }
}

@mixin mobile-md {
  @media only screen and (max-width: #{$mobile-md}) {
    @content;
  }
}

@mixin mobile-sm {
  @media only screen and (max-width: #{$mobile-sm}) {
    @content;
  }
}